body {
  font-family: "Rubik", sans-serif;
  text-align: center;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.display-inline {
  display: inline;
}

.material-class-gold,
.material-class-gold_plated {
  background-color: yellow;
}
.material-class-rose_gold {
  background-color: pink;
}
.material-class-silver,
.material-class-white_gold,
.silver {
  background-color: silver;
}

.height-20 {
  height: 20px;
}

.pointer {
  cursor: pointer;
}
